html, body {
	overflow-x: hidden;
}

body {
	color: #545454;
	/*background-size:contain;*/
}

a {
	text-decoration: none;
	color: #404040;
}

li {
	list-style: none;
}

.center {
	text-align: center;
}

/* FONTS */
 @font-face { 
 	font-family: Servus; 
 	src: url('../fonts/Servus_text_display.otf');
 } 

 @font-face {
 	font-family: KG Second Chances;
 	src: url('../fonts/KGSecondChancesSolid.ttf');
 }


/* GRID */
.menuBorder  {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.menuBorder:before,
.menuBorder:after {
	content: " ";
	display: table; /* the content is split up into gird 1/2, 1/3, 1/4 this tells the html to layout as a table before/after elements in class container */
}

.menuBorder:after {
	clear: both;
}

/* HEADER */
nav {
	margin-top: 45px;
}

.navigation,
.socialMedia {
	font-family: "Itim";
	list-style: none;
}

.socialMedia {
	margin-bottom: 30px;
}

.socialMedia li,
.socialMediatwo li {
	margin-right: 30px;
	display: inline;
	display: inline-block;
}

.socialMedia img,
.socialMediatwo img {
	height: 25px;
}

.twitter img {
	height: 22px;
}

.logo {
	margin-top: 100px;
	margin-bottom: 10px;
}

@media (min-width: 300px) and (max-width: 605px) {
	.socialMedia {
		display: none;
	}

	.socialMediatwo {
		margin-top: 0px;
	}

	.logo {
		width: 220px;
		margin-top: 60px;
	}

	/*.socialMedia {
		text-align: center;
		margin: 100px 0 -80px;
	}

	.socialMedia li {
		margin-right: 30px;
	}

	.socialMedia li img {
		height: 25px;
	}*/
}

@media (min-width: 606px) {
	.navigation {
		/*margin-left: -4%*/
	}

	.navigation li {
		display: inline;
		display: inline-block;
		margin-left: 20px;
		/*padding-bottom: 2px;*/
	}

	.socialMediatwo {
		display: none;
	}
}

@media (min-width: 768px) {
	.navigation {
		font-size: 20px;
	}

	.navigation li {
		margin-left: 30px;
	}
}

/* HAMBURGER MENU */
@media (min-width: 300px) and (max-width: 605px) {
	.fixed {
  		position: fixed;
  		width: 100%;
  		/*top: 0;*/
  		left: 0;
  		z-index: 1000;
	}

	.nav-collapse {
		margin-top: -145px;
		top: 0;
		position: fixed;
	}

	.nav-collapse,
	.nav-collapse ul {
  		list-style: none;
  		width: 100%;
  		float: left;
	}

	.nav-collapse li {
  		float: left;
 		width: 100%;
	}

	.nav-collapse a {
  		color: #fff;
  		text-decoration: none;
  		width: 100%;
  		background: #212121;
  		/*border-bottom: 1px solid white;*/
  		/*padding: 0.7em 1em;*/
  		float: left;
	}

	.nav-collapse li {
   		width: 25%;
    	*width: 24.9%; /* IE7 Hack */
    	_width: 19%; /* IE6 Hack */
  	}

  	.nav-collapse a {
    	margin: 0;
    	padding: 10px 0;
    	float: left;
    	text-align: center;
    	border-bottom: 0;
    	border-right: 1px solid white;
  	}
}

/*.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/


/*@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}*/

/*.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}*/

/*@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}*/


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  top: 0;
  z-index: 1100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*text-decoration: none;*/
  /*text-indent: -999px;*/
  /*position: relative;*/
  /*overflow: hidden;*/
  /*width: 70px;*/
  /*height: 55px;*/
  /*float: right;*/
}

.nav-toggle:before {
  color: white; /* Edit this to change the icon color */
  background: #212121;
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 50px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.nav-toggle.active::before {
  font-size: 26px;
  content:"x";
}

/* FOOTER */
footer p {
	margin-top: 250px;
	font-size: 14px;
}

@media (min-width: 300px) and (max-width: 558px) {
	footer p {
		margin-top: 100px;
		font-size: 12px;
	}
}

@media (min-width: 558px) and (max-width: 950px) {
	footer p {
		margin-top: 180px;
		font-size: 12px;
	}
}


/* WELCOME PAGE */
.homepageBody {
	background: url('../images/background.png');
	background-repeat:no-repeat;
	background-position:center top;
	min-height: 1900px;
}

.openingHourBorder {
	margin: 0 auto; /* centers the border */
}

h5 {
	font-family: "Delius Swash Caps";
	font-size: 48px;
	margin-bottom: 20px;
	margin-top: 70px;
}

.times {
	margin-top: 50px;
	font-family: "Itim";
	font-size: 23px;
	margin-left: -9%;
}

.times li {
	margin-bottom: 35px;
}

.treehouseLogoLink {
	margin: 20px 0 40px 0;
}

.mediaMentions a {
	margin-right: 35px;
}

.mediaMentions img {
	vertical-align: middle;
	margin-bottom: 30px;
}

.tripAdvisor {
	margin-top: 10px;
	/*margin-bottom: 16%;*/
}

@media (min-width: 300px) and (max-width: 400px) {
	.homepageBody {
		background: url('../images/homepageMobileBackgroundTwo.png');
		background-repeat:no-repeat;
		background-position:center top;
		min-height: 900px;
	}
}

@media (min-width: 400px) and (max-width: 558px) {
	.homepageBody {
		background: url('../images/homepageMobileBackground.png');
		background-repeat:no-repeat;
		background-position:center top;
		min-height: 1000px;
	}
}

@media (min-width: 300px) and (max-width: 557px) {
	.openingHourBorder {
		border-style: double;
		border-width: 8px;
		border-color: #F8F6F6;
		background-color: white;
		margin-top: 60px;
		width: 85%;
		height: 450px;
	}

	h5 {
		font-size: 25px;
		margin-bottom: 10px;
		margin-top: 50px;
	}

	.openingHours {
		margin-bottom: 60px;
	}

	.brLunchDin {
		width: 280px;
	}

	.times {
		font-size: 16px;
		margin-top: 30px;
	}

	.times li {
		margin-bottom: 13px;
	}

	.treehouseLogoLink {
		width: 150px;
		margin-top: 10px;
	}

	.menuButton {
		margin-top: -5px;
		width: 200px;
	}

	.mediaMentions a {
		margin-right: 20px;
	}
}

@media (min-width: 558px) {
	.openingHours {
		background: url('../images/openingHoursLeafBurst.png');
		background-repeat:no-repeat;
		background-position:center;
		min-height: 1020px;
		min-width: 80%;
		padding-top: 10px;
		margin-bottom: 0px;
	}

	.openingHourBorder {
		border-style: double;
		border-width: 8px;
		border-color: #F8F6F6;
		background-color: white;
		margin-top: 150px;
		width: 520px;
		height: 720px;
	}
}

/* MENU NAVIGATION */
.menuNavigation {
	text-align: center;
	margin: 35px 0 75px;
}

.menuNavigation li {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 15px;
	font-family: "Itim";
	font-size: 16px;
}

.menuNavigationUnderline {
	border-bottom: 2px solid #36DA36;
}

@media (min-width: 300px) and (max-width: 600px) {
	.menuNavigation {
		margin-bottom: 80px;
	}

	.menuNavigation li {
		display: list-item;
		margin-bottom: 33px;
		font-size: 18px;
	}
}

@media (min-width: 795px) {
	.menuNavigation li {
		margin-right: 30px;
	}
}

/* HEADER FOOTER BACKGROUND */
.headerBackground {
	background: url('../images/topBackground.png');
	background-repeat:no-repeat;
	background-position:center top;
}

.footerBackground {
	background: url('../images/bottomBackground.png');
	background-repeat:no-repeat;
	background-position: center top;
	height: 100px;
}

/* MENU-BREAKFAST */
.menuBorder {
	margin: 0 auto;
	margin-top: 8%;
	border-style: double;
	border-width: 8px;
	border-color: #F8F6F6;
	background-color: white;
	width: 900px;
}

.menu {
	font-family: Servus;
	margin: 0 7% 0;
}

.menuTreehouse {
	font-family: KG Second Chances;
	margin: 0 7% 0;
}

.menu h1 {
	font-size: 22px;
	margin-bottom: -10px;
}

.menu p {
	line-height: 25px;
	font-size: 16px;
}

.breakfast h1 {
	color: #972200;
}

.breakfast p {
	color: #FF4C00;
}

.menuItems h1 {
	margin-top: 45px;
}

.breakfastTitle img {
	margin-top: 50px;
	margin-bottom: -30px;
}

.marginTop {
	margin-top: 40px;
}

.marginbottom {
	margin-bottom: 180px;
}

.separator img {
	width: 99%;
	margin: 55px 0 15px;
}

@media (min-width: 300px) and (max-width: 558px) {
	.title img {
		width: 260px;
	}

	.menu h1 {
		font-size: 18px;
	}	

	.menu p {
		line-height: 20px;
		font-size: 15px;
	}
}

@media (min-width: 300px) and (max-width: 720px) {
	.breakfastTitle img {
		height: 30px;
	}
}

@media (min-width: 300px) and (max-width: 900px) {
	.one-half {
		width: 100%;
		text-align: center; 
	}

	.breakfastTitle {
		text-align: center;
	}
}

@media (min-width: 300px) and (max-width: 950px) {
	.menuBorder {
		width: 80%;
	}

	.menu {
		font-family: Servus;
		margin: 0 2% 0;
	}

	.one {
		text-align: center;
	}
}

@media (min-width: 900px) {
	.one {
		width: 88%;
		float: left;
		margin: 0 3% 0px;
	}

	.one-half {
		/*width: 100%;*/
		width: 44%;
		float: left;
		position: relative;
		min-height: 1px;
		margin: 0 3% 0px;
	}
}

.menuBurst {
	background: url('../images/breakfastBurst.png');
	background-repeat:no-repeat;
	background-position:center top;
	/*min-height: 1020px;*/
	/*min-width: 80%;*/
	/*padding-top: ;*/
	/*margin-bottom: 0px;*/
}

/* APPETIZERS */
.appetizer h1 {
	color: #003300;
}

/* BEVERAGES */
.thirst {
	color: #006699;
}

.coffee {
	color: #330000;
}

.tea {
	color: #FF6600;
}

.titleMargin {
	margin-top: 40px;
}

/* CREPES */
.reduceMargin {
	margin-top: -15px;
}

.savoury h1 {
	color: #993300;
}

.savoury p {
	color: #073907;
}

.sweet h1 {
	color: #FF297F;
}

.sweet p {
	color: #741616;
}

/* DESSERT */
.dessert h1 {
	color: #FF0973;
}

/* TREEHOUSE */
.treehouseMenuTitle {
	margin-top: 10%;
}

.menuTreehouse h1 {
	font-size: 20px;
	margin-bottom: -10px;
}

.menuTreehouse p {
	line-height: 25px;
	font-size: 14px;
}

.pubFood h1 {
	color: #993300;
}

.pubFood p {
	color: #003300;
}

.red {
	color: #ff0000;
}

.green {
	color: #009900;
}

.orange {
	color: #ff6600;
}

.lightgreen {
	color: #669900;
}

@media (min-width: 300px) and (max-width: 558px) {
	.treehouseMenuTitle img {
		width: 240px;
	}

	.menuTreehouse h1 {
		font-size: 16px;
	}	

	.menuTreehouse p {
		line-height: 16px;
		font-size: 13px;
	}
}

/* CONTACT */
.googlemap {
	margin: 8% 0 0;
	overflow: hidden;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.googlemap div {
	margin: 0 auto;
}

.mapImage {
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}













